/* -----------------------------------
	DEFAULT / ELEMENTS
----------------------------------- */

html, body {
	height: 100%;
}

body {
	/* background: #121212; */
	/* color: #FFFFFF; */
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}

img {
	max-width: 100%;
}

/* -----------------------------------
	LOGIN WRAPPER
----------------------------------- */

#login-error-msg {
	font-size: 1.2em;
	color: #DD0000;
	margin-top: 1.5%;
}

/* -----------------------------------
	CHAT BOX
----------------------------------- */

#chat-msg-list {
	/*clear: both;*/
	height: 92%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}

#chat-msg-list li {
	padding: 5px 10px;
}

#chat-msg-list li:nth-child(odd) {
	background: #EEEEEE;
}

#chat-msg-form {
	height: 6%;
	min-height: 40px;
	width: 100%;
	padding: 3px;
	position: absolute;
	bottom: 0;
}

#chat-msg-form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

#chat-msg-form button {
	width: 9%;
	/*background-color: #82E0FF;*/
	border: none;
	padding: 5px;
}

/* -----------------------------------
	USER LIST
----------------------------------- */

#user-list {
	font-size: 1.2em;
	word-wrap: break-word;
	line-height: 1.5;
	float: right;
	padding: 2%;
	list-style-type: none;
}
